body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  display: block;
}

/* Header */
.header {
  border-bottom: 1px solid #e7e9fc;
}
.header .container {
  display: flex;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.nav {
  display: flex;
  align-items: center;
}
.website-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.website-logo-studio {
  color: #2e2f42;
}
.nav-menu {
  display: flex;
  gap: 40px;
}
.header-href {
  color: #2e2f42;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  padding: 24px 0;
}
.header-href:hover {
  color: #404bbf;
}
.header-href:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
}
.adress-ul {
  display: flex;
  gap: 40px;
}
.address-href {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-weight: 400;
}
.address-href:hover {
  color: #404bbf;
}
.address-href:focus {
  color: #404bbf;
}
/* Header */

/* Section 1 - Effective Solutions */
.section_effective_solutions {
  background-color: #2e2f42;
  height: 600px;
  padding: 188px 0 188px;
}
.h-first-class {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
}
.button_order_service {
  background-color: #4d5ae5;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
}
.button_order_service:hover {
  background-color: #404bbf;
}
.button_order_service:focus {
  background-color: #404bbf;
}
/* Section 1 - Effective Solutions */

/* Section 2 - Benefits */
.section_benefits {
  background-color: #ffffff;
  padding: 120px 0 120px;
}

.benefits-ul {
  display: flex;
  gap: 24px;
}

.benefits-ul-li {
  width: calc((100% - 72px) / 4);
}

.h-II-section-benefits {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.h-third-class-section-benefits {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.h-third-class {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.p-section-two-three {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* Section 2 - Benefits */

/* Section 3 - Our Team */
.section_our_team {
  background-color: #f4f4fd;
  height: 732px;
  padding: 120px 0;
}
.h-second-class {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.people_info {
  background-color: #ffffff;
  flex-basis: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.our-team-ul {
  display: flex;
  gap: 24px;
}
/* Section 3 - Our Team */

/* Section 4 - Our Portfolio */
.section_our_portfolio {
  background-color: #ffffff;
  padding-top: 120px;
  padding-bottom: 120px;
}
.our-portfolio-ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.our-portfolio-ul-li {
  width: calc((100% - 48px) / 3);
}

.section_our_portfolio .container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
/* Section 4 - Our Portfolio */

/* Footer */
.footer {
  background-color: #2e2f42;
  padding: 100px 0 100px;
}
.website-logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.website-logo-footer-studio {
  color: #f4f4fd;
}
.p-footer {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}
/* Footer */
